<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <appSettings>


    <!--七牛图片空间名 -->
    <add key="QiniuSpace" value="gossip" />
    <!--七牛图片外链域名 -->
    <add key="QiniuDomain" value="7b1f5a.com1.z0.glb.clouddn.com" />
    <!--七牛图片外链图片前缀-->
    <add key="QiniuImageUrlPredix" value="http://7b1f5a.com1.z0.glb.clouddn.com/" />
  </appSettings>
</configuration>